:root {
    --line-weight: 3px;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
}

.piece {
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.piece:first-child {
    border-right-width: var(--line-weight);
    border-bottom-width: var(--line-weight);
}

.piece:nth-child(2) {
    border-width: var(--line-weight);
    border-top-width: 0;
}

.piece:nth-child(3) {
    border-left-width: var(--line-weight);
    border-bottom-width: var(--line-weight);
}

.piece:nth-child(4) {
    border-width: var(--line-weight);
    border-left-width: 0;
}

.piece:nth-child(5) {
    border-width: var(--line-weight);
}

.piece:nth-child(6) {
    border-width: var(--line-weight);
    border-right-width: 0;
}

.piece:nth-child(7) {
    border-top-width: var(--line-weight);
    border-right-width: var(--line-weight);
}

.piece:nth-child(8) {
    border-left-width: var(--line-weight);
    border-top-width: var(--line-weight);
    border-right-width: var(--line-weight);
}

.piece:nth-child(9) {
    border-top-width: var(--line-weight);
    border-left-width: var(--line-weight);
}

#identity {
    display: none;
    text-align: center;
    color: #666666;
}

#message {
    text-align: center;
}
